@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');
@import url('https://www.1001fonts.com/cookie-font.html');
*{
   padding: 0;
   margin:0;
   font-family: 'Bona Nova', serif;
}
body {
  
  background-image: url("https://img.freepik.com/free-photo/top-view-delicious-food-table_23-2150857986.jpg?t=st=1715248514~exp=1715252114~hmac=a9e73c10d022c080c963599a21769949f38dc87742efde966a53aab0e0bb33e2&w=1380");  
  background-repeat: no-repeat;  
  background-position: absolute;  
  background-size: cover;     
}
.main{
  width:80%;
  margin: 0 auto;
  text-align: center;
}
.heading h1{
  color: white;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1px;
  padding-top: 2rem;
  margin: 1rem;
}
.search-bar{
  margin: 1rem 0;
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
}
.container{
  margin: 80%;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  grid-gap: 2rem;
}
.card {
  width: 180px;
  border-radius: 1rem;
  background-color: #4e8534;
  background-blend-mode: hue;
  background-color: goldenrod;

  padding: 5px;
}
.card:hover {
  box-shadow: 0 0 50px 0px rgba(61, 199, 34, 0.823);

}
img{
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.card h3{
  color:rgb(65, 119, 115);
  font-size: 18px;
}
.indexContainer{
  display:flex;
  margin: 2.5rem 0;
}
.numBox {
  width: 50px;
  height: 40px;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 5px 0 5px;
  border-radius: 100px;
  
}

@keyframes wave {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.numBox:hover {
  box-shadow: 0 0 50px 0px rgba(61, 199, 34, 0.823);
  animation: wave 0.8s;
}
.content img{
  width: 100%;
  height: 600px;
}
.inner-content{
  position:absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(255,255,255,0.8);
  color: black;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.recipe-details{
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-left: 0%;
}
.ingredients, .instructions{
  position: absolute;
  text-align: center;
  color: white;
}
.ingredients h4{
margin-top: 1.5rem;
font-weight: bold;
}
.ingredients {
  margin-top: 250px;
  margin-left: 625px;
  background-color: antiquewhite;
  
  text-align: center;
  color: rgb(11, 11, 11);
}